<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/ionicons/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style/style.css">
</head>

<body>
    <section class="full-background">
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-6 full-background__left-side">
                    <nav class="navbar">
                        <section>
                            <ul class="navbar nav pe-5">
                                <li class="nav-item">
                                    <a class="nav-link active menu-link" href="#home">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#our-story">OUR STORY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#gallery">GALLERY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#events">EVENTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#accommodation">ACCOMMODATION</a>
                                </li>
                            </ul>
                        </section>
                    </nav>

                    <section class="date-section-container">
                        <p class="date-section">09.04.2022</p>
                    </section>
                    <section class="names-section-container">
                        <p class="names-section"> Ekow &</p>
                        <p class="names-section"> Yvonne</p>
                    </section>
                </div>
                <div class="col-lg-6 full-background__right-side"></div>
            </div>
        </section>

        <a class="btn rsvp-button" href="#rsvp-section">RSVP</a>
    </section>

    <section id="home" class="home">
        <section class="container">
            <h2 class="text-center hello-heading"> Hello! </h2>
            <p class="text-center date-line pt-4"> April 9th 2022, Accra, Ghana</p>
            <p class="text-center tag-line"> WE INVITE YOU TO CELEBREATE OUR LOVE </p>
            <p class="text-center"><i class="ion-heart heart-icon"></i></p>

            <section class="countdown-section text-center">
                <section class="row">
                    <!-- Ekow Section -->
                    <section class="col-lg-4">
                        <img src="../img/ekow.jpg" class="img-thumbnail rounded-circle thumbnail-image"
                            alt="Picture of Ekow" />
                        <section class="mt-5">
                            <h1 class="name-heading""> EKOW</h1>
                            <h1 class="name-heading"> MENSAH</h1>
                            <span class="seperator-before"></span>
                            <p class="wedding-roles"><span> GROOM</span></p>
                            <p class="bio">
                                Curabitur auctor tellus quis condimentum laoreet. Praesent bibendum erat non mauris 
                                cursus pretium. Donec bibendum, sapien et tincidunt pellentesque, elit urna placerat enim, 
                                sit amet interdum augue massa nec orci. Mauris euismod tempus nunc. 
                                Proin semper ac risus ut maximus. Integer eu ex sapien. 
                            </p>
                        </section>
                    </section>

                    <section class="col-lg-4 event-countdown">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 countdown-box">
                               <p id="daybox"></p> 
                               <hr />
                               <p class="time-interval-column">Days</p>
                            </div>
                            <div class="col-sm-12 col-md-6 countdown-box">
                                <p id="hourbox"></p>
                                <hr />
                               <p id="hour-text" class="time-interval-column">Hours</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 pt-3 pb-3">
                                ...UNTIL OUR WEDDING CEREMONY
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6 countdown-box">
                               <p id="minbox"></p> 
                               <hr />
                               <p class="time-interval-column">Minutes</p>
                            </div>
                            <div class="col-sm-12 col-md-6 countdown-box">
                                <p id="secbox"></p>
                                <hr />
                               <p class="time-interval-column">Seconds</p>
                            </div>
                        </div>
                    </section>

                    <!-- Yvonne Section -->
                    <section class="col-lg-4">
                        <img src="../img/yvonne.jpg" class="img-thumbnail rounded-circle thumbnail-image"
                            alt="Picture of Yvonne" />
                        <section class="mt-5">
                            <h1 class="name-heading"> YVONNE</h1>
                            <h1 class="name-heading"> SANDZI</h1>
                            <span class="seperator-before"></span>
                            <p class="wedding-roles"><span> BRIDE</span></p>
                            <p class="bio">
                                Ut viverra lectus quam, at auctor nisi feugiat ac. Praesent vitae dui turpis. 
                                Nam bibendum nibh quis massa faucibus tristique. Sed scelerisque aliquam laoreet.
                                Quisque sed fringilla purus. Cras quis laoreet enim. Vivamus ac justo risus.
                                 Nullam risus nulla, ornare vel luctus vitae, dignissim vitae lectus.
                            </p>
                        </section>
                    </section>
                </section>
                </section>
            </section>
        </section>

        <h1 class="text-center pb-3 section-heading">WEDDING EVENTS</h1>
        <section id="events" class="events-section p-5">
            <div class="row">
                <div class="col-sm-12 col-md-4 events-section__traditional">
                    <div class="event-card">
                        <div class="event-card-heading">
                            <h3 class=" text-center">TRADITIONAL WEDDING</h3>
                        </div>
                        <div class="event-card-body">
                            <div class="row">
                                <div class="col-sm-4 p-3 text-center event-card-body__left-side">
                                    <i class="ion-ios-clock-outline event-card-icons"></i>
                                    <p>10:00 AM</p>
                                    <p>17:00 PM</p>
                                </div>
                                <img class="event-card-img" src="../../img/engagement-icon.png"
                                    alt="Adinkra Symbol for Marriage" />
                                <div class="col-sm-4 p-3 text-center event-card-body__left-side">
                                    <i class="ion-ios-calendar-outline event-card-icons"></i>
                                    <p>THRUSDAY 7TH</p>
                                    <p>APRIL 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="event-card-footer p-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center">Maecenas tincidunt blandit pellentesque. Suspendisse nibh
                                        quam,
                                        commodo id dolor ac,
                                        dignissim aliquet ligula. Phasellus luctus lectus ultrices neque consectetur
                                        finibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 events-section__wedding-ceremony">
                    <div class="event-card">
                        <div class="event-card-heading">
                            <h3 class=" text-center">WEDDING CEREMONY</h3>
                        </div>
                        <div class="event-card-body">
                            <div class="row">
                                <div class="col-sm-4 p-3 text-center event-card-body__left-side">
                                    <i class="ion-ios-clock-outline event-card-icons"></i>
                                    <p>1:00 PM</p>
                                    <p>2:30 PM</p>
                                </div>
                                <img class="event-card-img" src="../../img/wedding-icon.png"
                                    alt="Adinkra Symbol for Marriage" />
                                <div class="col-sm-4 p-3 text-center event-card-body__left-side">
                                    <i class="ion-ios-calendar-outline event-card-icons"></i>
                                    <p>SATURDAY 9TH</p>
                                    <p>APRIL 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="event-card-footer p-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center">Maecenas tincidunt blandit pellentesque. Suspendisse nibh
                                        quam,
                                        commodo id dolor ac,
                                        dignissim aliquet ligula. Phasellus luctus lectus ultrices neque consectetur
                                        finibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 events-section__wedding-reception">
                    <div class="event-card">
                        <div class="event-card-heading">
                            <h3 class=" text-center">WEDDING RECEPTION</h3>
                        </div>
                        <div class="event-card-body">
                            <div class="row">
                                <div class="col-sm-4 p-3 text-center event-card-body__left-side">
                                    <i class="ion-ios-clock-outline event-card-icons"></i>
                                    <p>5:00 PM</p>
                                    <p>11:00 PM</p>
                                </div>
                                <img class="event-card-img" src="../../img/reception-icon.png"
                                    alt="Adinkra Symbol for Marriage" />
                                <div class="col-sm-4 p-3 text-center event-card-body__left-side">
                                    <i class="ion-ios-calendar-outline event-card-icons"></i>
                                    <p>SATURDAY 9TH</p>
                                    <p>APRIL 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="event-card-footer p-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center">Maecenas tincidunt blandit pellentesque. Suspendisse nibh
                                        quam,
                                        commodo id dolor ac,
                                        dignissim aliquet ligula. Phasellus luctus lectus ultrices neque consectetur
                                        finibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="accommodation" class="accommodation-section mt-3 mb-3">
            <h1 class="text-center pb-3 section-heading">ACCOMMODATION</h1>
            <section class="container-fluid">
                <section class="container accommodation-sections mt-5 mb-5">
                    <div class="row mt-5 mb-5 add-box-shadow">
                        <div class="col-sm-12 col-md-4 accommodation-sections__img-container">
                            <img src="../../img/accra-marriot-hotel.jpg" class="left-section-img" />
                        </div>
                        <div class="col-sm-12 col-md-8 accommodation-sections__right-section">
                            <h2>Accra Marriott Hotel</h2>
                                <p>Located at on the Liberation Road, Airport city the Accra Marriot
                                    Hotel is a 5 star hotel with luxirous bedrooms
                                    and facilities to make you feel welcomed to the Gold Coast City.
                                    <p> Website: <a href="https://marriott-hotels.marriott.com/">Accra Marriot Hotel</a>
                                </p>
                                <p>Phone: 030 273 8000</p>
                                <p></p>
                                <a href="#" class="btn btn-primary btn-directions">Get Directions</a>
                        </div>
                    </div>

                    <div class="row mt-5 mb-5 add-box-shadow">
                        <div class="col-sm-12 col-md-4 accommodation-sections__img-container">
                            <img src=".../../img/bojo-beach-resort.jpg" class="left-section-img" />
                        </div>
                        <div class="col-sm-12 col-md-8 accommodation-sections__right-section">
                            <h2>Bojo Beach Resort</h2>
                                <p>Located at Kokrobite, Bortianor, Greater Accra Bojo Beach Resort is a 3 star hotel with luxirous bedrooms
                                    and facilities to make you feel welcomed to the Gold Coast City.
                                </p>
                                <p>Price: From ¢159.00</p>
                                <p>Phone: 054 488 8580</p>
                                <p><a> Website: <a href="https://bojobeachresort.com-accra.com/en/">Bojo Beach Resort</a></p>
                                <a href="#" class="btn btn-primary btn-directions">Get Directions</a>
                        </div>
                    </div>

                    <div class="row mt-5 mb-5 add-box-shadow">
                        <div class="col-sm-12 col-md-4 accommodation-sections__img-container">
                            <img src=".../../img/perriman-guest-house.jpg" class="left-section-img" />
                        </div>
                        <div class="col-sm-12 col-md-8 accommodation-sections__right-section">
                            <h2>Perriman Guest Houset</h2>
                                <p>Located at on the Liberation Road, Airport city the Accra Marriot
                                    Hotel is a 5 star hotel with luxirous bedrooms
                                    and facilities to make you feel welcomed to the Gold Coast City.
                                    <p> Website: <a href="https://marriott-hotels.marriott.com/">Accra Marriot Hotel</a>
                                </p>
                                <p>Phone: 030 273 8000</p>
                                <p></p>
                                <a href="#" class="btn btn-primary btn-directions">Get Directions</a>
                        </div>
                    </div>
                </section>
            </section>
        </section>

        <section id="rsvp-section" class="rsvp-section mt-3 mb-3">
            <section class="container">
                <h2 class="rsvp-section__heading">Are you</h2>
                <h2 class="rsvp-section__heading">Attending?</h2>
                <section class="rsvp-form">
                    <div class="mb-3">
                        <input type="email" class="p-3 w-100" name="email" placeholder="Email Address">
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <input type="text" class="p-3 w-100" name="firstname" placeholder="First Name">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <input type="text" class="p-3 w-100" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <input type="text" class="p-3 w-100" name="attendees" placeholder="Who else is with you?">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <select id="event" class="p-3 w-100">
                                <option value="null">What Event Are You Attending?</option>
                                <option value="All Events">All Events</option>
                                <option value="Traditional Wedding">Traditional Wedding</option>
                                <option value="Wedding Ceremony">Wedding Ceremony</option>
                                <option value="Wedding Reception">Wedding Reception</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-check">
                                <label class="form-check-label make-it-a-holiday-label" for="makeItAHoliday">
                                    Make It A Holiday
                                </label>
                                <input class="form-check-input" type="checkbox" value="" id="makeItAHoliday">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-30">
                            <button class="btn btn-submit-rsvp">Submit</button>
                        </div>
                    </div>
                </section>
            </section>
        </section>

        <section class="travel-checklist-section">

        </section>
</body>
<footer></footer>

<script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

</html>