$darkteal: #04505F;
$white: #fff;
$black: #000;
$mint: #81F3D5;
$sage: #84897B;
$smokewhite: #F7F5F1;
$teal: teal;
$darkpink: #CE9191;
$dustypink: #FCEEE9;
$gold: #D7BE69;
$darkgreen: #3E4D34;


$flipColour: #fff;
$flipColourDark: darken($flipColour, 35%);
$textColour: #333;
$textColourDark: darken($textColour, 35%);