/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Libre+Caslon+Display&family=Rouge+Script&family=Yantramanav&display=swap');

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url('../../fonts/HelveticaNeue-Roman.woff') format('woff2');
}

$libre-calson: 'Libre Caslon Display', serif;
$oswald: 'Oswald', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$gothic-a1: 'Gothic A1', serif;
$rogue-script: 'Rouge Script', cursive;
$josefin-sans: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$yantramanav: 'Yantramanav', sans-serif;
$libre-baskeville: 'Libre Baskerville', serif;