@import "./colors";

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.serif-font {
    font-family: 'Libre Caslon Display', serif;
}

.sans-serif-font {
    font-family: 'Josefin Sans', sans-serif;
}

.text-white {
    color: $white;
}

.btn-rsvp {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.grey-background {
    background-color: #DDE6D5;
}

.pink-background {
    background-color: $dustypink;
}

.section-space {
    margin-top: 15rem;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}